{% extends "base.html" %}

{% block content %}
<h1>Tuoteluokat</h1>

<form method="post" action="{{base_path}}/tuoteluokat">
    <input type="text" name="nimi" style="width:50%" placeholder="Tuoteluokan nimi">
    <button type="submit" class="btn btn-primary">Lisää tuoteluokka</button>
</form>

{% if message|length > 1 %}
<div class="alert alert-success">
  {{message}}
</div>
{% endif %}

<br>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Tuotteita myynnissä</th>
            <th>Tuotteita yhteensä</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><a href="{{base_path}}/tuotteet">Kaikki</a></td>
            <td>4</td>
            <td>4</td>
            <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
        </tr>
        {% for tuoteluokka in tuoteluokat %}
        <tr>
            <td><a href="{{base_path}}/tuoteluokka/{{tuoteluokka.tuoteluokka_id}}">{{tuoteluokka.nimi}}</a></td>
            <td>4</td>
            <td>4</td>
            <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
