{% import "macros/forms.html" as forms %}
{% extends "base.html" %}

{% block content %}
<h1>Tuoteluokat</h1>

{% if user_logged_in.meklari %}
<form method="post" action="{{base_path}}/tuoteluokat">
    <input type="text" name="nimi" style="width:50%" placeholder="Tuoteluokan nimi" value="{{attributes.nimi}}">
    <button type="submit" class="btn btn-primary" >Lisää tuoteluokka</button>
</form>
{% endif %}

{{forms.message(message, 'alert-success')}}

<!--virheilmoitukset tulee tähän (jos niitä on)-->
{{forms.error_messages(errors)}}
<br>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Tuotteita myynnissä</th>
            <th>Tuotteita yhteensä</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><a href="{{base_path}}/tuotteet">Kaikki</a></td>
            <td>{{tuotteita[1]}}</td>
            <td>{{tuotteita[0]}}</td>
            {% if user_logged_in.meklari %}
            <th></th>
            {% endif %}
        </tr>
        {% for tuoteluokka in tuoteluokat %}
        <tr>
            <td><a href="{{base_path}}/tuoteluokka/{{tuoteluokka.tuoteluokka_id}}">{{tuoteluokka.nimi}}</a></td>
            <td>{{tuoteluokka.myynnissa}}</td>
            <td>{{tuoteluokka.tuotteita}}</td>
            {% if user_logged_in.meklari %}
            <th>
                <form method="post" action="{{base_path}}/tuoteluokka/{{tuoteluokka.tuoteluokka_id}}/destroy" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa tuotteluokan?">
                    <a class="btn btn-default btn-sm" href="{{base_path}}/tuoteluokka/{{tuoteluokka.tuoteluokka_id}}/edit">Muokkaa</a>
                    {% if tuoteluokka.tuotteita == 0 %}
                    <button type="submit" class="btn btn-danger btn-sm">Poista</button>         
                    {% endif %}
                </form>         
            </th>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
