
{% macro tuote_list(tuotteet, basepath) %}

{% for tuote in tuotteet %}
<div class="col-md-4">
    <div class="thumbnail">
        <a href= "{{basepath}}/tuote/{{tuote.tuote_id}}">
            <div id="Container">
                <img src ="{{tuote.linkki_kuvaan}}" style="width:100%">                  
            </div>
            <div class="caption">
                <ul>
                    <li class="name">{{tuote.nimi}}</li>
                    {% if tuote.max_tarjous %}
                    <li class="offer"><b>{{tuote.max_tarjous}} &euro;</b></li>
                    {% else %}
                    <li class="offer"><b>{{tuote.minimihinta}} &euro;</b></li>
                    {% endif %}
                </ul>
            </div> 
        </a>
    </div>
</div>
{% endfor %}

{% endmacro %}
