{% import "macros/lists.html" as lists %}
{% extends "base.html" %}

{% block content %}
<div class="page-header">
    {% if message %}
    <h1>{{message}} <i class="em em-scream_cat"></i></h1>
    {% else %}
    <h1>Tervetuloa <i class="em em-scream_cat"></i> Huutokauppaan</h1>
    {% endif %}
</div>

<div class="col-md-3">
    <div class="panel panel-info">
        <div class="panel-heading">
            <a href="{{base_path}}/tuoteluokat">Tuoteluokat</a>
        </div>
        <div class="panel-body">
            {% for tuoteluokka in tuoteluokat %}
            <a href="{{base_path}}/tuoteluokka/{{tuoteluokka.tuoteluokka_id}}">{{tuoteluokka.nimi}}</a>
            <br>
            {% endfor %}
        </div>
    </div>    
</div>

<div class="col-md-9">
{{lists.tuote_list(tuotteet, "http://ensu.users.cs.helsinki.fi/kissaemoji-huutokauppa/")}}
</div>

{% endblock %}
