{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Tervetuloa <i class="em em-scream_cat"></i> Huutokauppaan</h1>
  </div>

<h2>
    <a href="http://ensu.users.cs.helsinki.fi/kissaemoji-huutokauppa/tuoteluokat">Tuoteluokat</a>
</h2>
  <p>  
    <a href="http://ensu.users.cs.helsinki.fi/kissaemoji-huutokauppa/tuoteluokka" class="btn btn-primary btn-lg">Asunnot</a>
  </p>
  
  <div>
      <a href="http://ensu.users.cs.helsinki.fi/kissaemoji-huutokauppa/tuote">Tuotteen sivu</a>
  </div>
{% endblock %}
