{% extends "base.html" %}

{% block content %}
<h1>Tuoteluokan <b>asunnot</b> tuotteet </h1>

<p>
    <a href="#" class="btn btn-toolbar">Lisää tuote</a>
</p>

<div class="col-md-4">
    <div class="thumbnail">
        <a href="http://ensu.users.cs.helsinki.fi/kissaemoji-huutokauppa/tuote">
            <!--<div>
                <img src="WhiteHouse.jpg" >  
            </div>   -->
            <div>
                <img src ="https://upload.wikimedia.org/wikipedia/commons/e/e4/White_House_02.jpg" 
                     style="width:100%">
            </div>
            <div class="caption">
                <ul>
                    <li>Kesämökki</li>
                    <li class="offer"><b>30 &euro;</b></li>
                </ul>
            </div> 
        </a>
    </div>
</div>

<div class="col-md-4">
    <div class="thumbnail">
        <div>
            <img src ="https://upload.wikimedia.org/wikipedia/commons/a/af/All_Gizah_Pyramids.jpg" 
                 style="width:100%">
        </div>

        <div class="caption">
            <p>Moderni asunto 1/3</p> 
        </div> 
    </div>
</div>

<div class="col-md-4">
    <div class="thumbnail">
        <div>
            <img src ="https://upload.wikimedia.org/wikipedia/commons/a/af/All_Gizah_Pyramids.jpg" 
                 style="width:100%">
        </div>

        <div class="caption">
            <p>Moderni asunto 2/3</p> 
        </div> 
    </div>
</div>

<div class="col-md-4">
    <div class="thumbnail">
        <div>
            <img src ="https://upload.wikimedia.org/wikipedia/commons/a/af/All_Gizah_Pyramids.jpg" 
                 style="width:100%">
        </div>

        <div class="caption">
            <p>Moderni asunto 3/3</p> 
        </div> 
    </div>
</div>

{% endblock %}

