{% import "macros/forms.html" as forms %}
{% extends "base.html" %}

{% block content %}
<h1>Tuoteluokan     
    <b>{{tuoteluokka.nimi}}</b>
    {% if tuoteluokka.nimi|length < 1 %}
    <b>Kaikki</b>
    {% endif %}
    tuotteet </h1>

{{forms.message(message, 'alert-success')}}

{% if user_logged_in.meklari %}
<p>
    <a href="{{base_path}}/tuoteluokka/{{tuoteluokka.tuoteluokka_id}}/lisaa/tuote" class="btn btn-toolbar">Lisää tuote</a>
</p>
{% endif %}

{% for tuote in tuotteet %}
<div class="col-md-4">
    <div class="thumbnail">
        <a href="{{base_path}}/tuote/{{tuote.tuote_id}}">
            <div>
                <img src ="{{tuote.linkki_kuvaan}}" style="width:100%">                  
            </div>
            <div class="caption">
                <ul>
                    <li>{{tuote.nimi}}</li>
                    {% if tuote.max_tarjous %}
                    <li class="offer"><b>{{tuote.max_tarjous}} &euro;</b></li>
                    {% else %}
                    <li class="offer"><b>{{tuote.minimihinta}} &euro;</b></li>
                    {% endif %}
                </ul>
            </div> 
        </a>
    </div>
</div>
{% endfor %}



{% endblock %}
