{% import "macros/forms.html" as forms %}
{% extends "base.html" %}

{% block content %}
<h1>{{tuote.nimi}}</h1>

{% if message|length > 1 %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<!--virheilmoitukset tulee tähän (jos niitä on)-->
{{forms.error_messages(errors)}}

<div class="col-sm-9">
    <div class="thumbnail">
        <img src ="{{tuote.linkki_kuvaan}}" 
             style="width:100%">
    </div>
</div>

<div class="col-md-3">
    <div class="important">
        <p class="important1">
<!--            {{loppuu|date('Y-m-d h:i:s')}}-->
            {% if alkaa < date().timestamp and loppuu > date().timestamp %}            
            Aikaa jäljellä <br>
            {{((loppuu - date().timestamp)/(24*3600))|round(0,'floor')}} päivää
            {{(((loppuu- date().timestamp) - ((loppuu - date().timestamp)/(24*3600))|round(0,'floor')*24*3600)/3600)|round(0,'floor')}} h
            {{(((loppuu - date().timestamp)-((loppuu - date().timestamp)/(24*3600))|round(0,'floor')*24*3600-(((loppuu- date().timestamp) - ((loppuu - date().timestamp)/(24*3600))|round(0,'floor')*24*3600)/3600)|round(0,'floor')*3600)/60)|round(0,'floor')}} min
            {% elseif alkaa > date().timestamp %} 
            Kauppa alkaa <br>
            {{tuote.kauppa_alkaa}}
            {% elseif loppuu < 1 %}
            Tuotteen myyntiaikaa ei ole määritelty    
            {% elseif loppuu < date().timestamp %}
            Kauppa päättyi <br>
            {{tuote.kauppa_loppuu}}
            {% endif %}
        </p>
        <p>
            {% if tuote.max_tarjous %}
            <b>Korkein tarjous <br>
                {{tuote.max_tarjous}} &euro;</b>
            {% else %}
            <b>Tuotteen minimihinta <br>
                {{tuote.minimihinta}} &euro;</b>
            {% endif %}
            
            
        </p>
    </div>
</div>

<!--Tuotteen kuvaus-->
<div class="col-md-3">
    <br>
    <p>{{tuote.kuvaus}}</p>
    <br>
</div>


{% if alkaa < date().timestamp and loppuu > date().timestamp %}
<div class="col-md-3">
    <a href="{{base_path}}/tuote/{{tuote.tuote_id}}/tarjous" class="btn btn-primary">Tee tarjous</a> 
    <p> <br> <p>
</div>
{% endif %}

{% if user_logged_in.meklari %}
    <form method="post" action="{{base_path}}/tuote/{{tuote.tuote_id}}/destroy" class="destroy-form col-md-3" data-confirm="Oletko varma, että haluat poistaa tuotteen?">
        <a href="{{base_path}}/tuote/{{tuote.tuote_id}}/edit" class="btn btn-default">Muokkaa</a>
        <button type="submit" class="btn btn-danger">Poista</button>         
    </form>
{% endif %}    



{% endblock %}
