{% extends "base.html" %}

{% block content %}
<h1>{{tuote.nimi}}</h1>

{% if message|length > 1 %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<div class="col-sm-9">
    <div class="thumbnail">
        <img src ="{{tuote.linkki_kuvaan}}" 
             style="width:100%">
    </div>
</div>

<div class="col-md-3">
    <div class="important">
        <p class="important1">
            Aikaa jäljellä <br>
            1 päivä 3 h 24 min 
        </p>
        <p>
            {% if tuote.max_tarjous %}
            <b>Korkein tarjous <br>
                {{tuote.max_tarjous}} &euro;</b></li>
            {% else %}
            <b>Tuotteen minimihinta <br>
                {{tuote.minimihinta}} &euro;</b></li>
            {% endif %}
        </p>
    </div>
</div>

<!--Tuotteen kuvaus-->
<div class="col-md-3">
    <br>
    <p>{{tuote.kuvaus}}</p>
    <br>
</div>

<p>
<!--    alkaa {{alkaa}} <br>
    loppuu {{loppuu}} <br>-->
<!--    Kauppa alkaa {{tuote.kauppa_alkaa}} <br>
    Kauppa päätty {{tuote.kauppa_loppuu}} <br>-->
<!--    nykyinen aika {{date().timestamp}}-->
</p>

{% if alkaa < date().timestamp and loppuu > date().timestamp %}
<div class="col-md-3">
    <button class="btn btn-primary">Tee tarjous</button> 
    <p> <br> <p>
</div>
{% endif %}

{% if user_logged_in.meklari %}
<form method="post" class="col-md-3" action="{{base_path}}/tuote/{{tuote.tuote_id}}/destroy">
    <button type="submit" class="btn btn-danger">Poista</button> 
    <a href="{{base_path}}/tuote/{{tuote.tuote_id}}/edit" class="btn btn-default">Muokkaa</a>
</form>

{% endif %}    



{% endblock %}
