<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}
            Tietokantasovellus(kissaemoji)
            {% endblock %}
        </title>

        {% block head %}
        <!-- Bootstrap (tyylitiedosto) -->
        <link href="{{base_path}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Oma tyylitiedostomme -->
        <link href="{{base_path}}/assets/css/site.css" rel="stylesheet">

        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
        {% endblock %}
    </head>

    <body>

        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Sovelluksen nimi -->
                    <a class="navbar-brand" href="{{base_path}}"><i class="em em-scream_cat"></i></a>
                    <a class="navbar-brand" href="{{base_path}}">Huutokauppa</a>
                </div>

                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="nav navbar-nav">
                        <!-- Navigaation linkit -->
                        <li><a href="{{base_path}}">Etusivu</a></li>
                        <li><a href="http://ensu.users.cs.helsinki.fi/kissaemoji-huutokauppa/tuoteluokat">Tuoteluokat</a></li>                       
                    </ul>

                    <div class="navbar-form navbar-left  search-form">
                        <!--              <form method="get" action="/fi/haku/">-->
                        <div class="input-group">
                            <input type="text" name="term" class="search form-control blink" placeholder="Syötä hakusana">

                            <span class="input-group-btn">
                                <button title="Hae" class="btn btn-primary search-btn" type="submit">Hae</button>
                            </span>
                        </div>
                        <!--</form>-->
                    </div> 

                    <ul class="nav navbar-nav navbar-right">  
                        <li><a href="{{base_path}}/login" class="btn tausta">Kirjaudu sisään</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--btn btn-danger navbar-btn--> 

        <div id="main-container">
            <!-- Dynaaminen sisältö tulee tähän -->
            {% block content %}{% endblock %}
        </div>

        {% block body %}
        <!-- jQuery -->
        <script src="{{base_path}}/vendor/jquery.min.js"></script>

        <!-- Bootstrap (skriptitiedosto) -->
        <script src="{{base_path}}/vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Oma skriptitiedostomme -->
        <script src="{{base_path}}/assets/js/site.js"></script>
        {% endblock %}
    </body>
</html>
